<!DOCTYPE html>
<html>
  <head>
    <style>
    </style>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <h2>Music App!</h2>
        <% if logged_in? %>
          <h3>Welcome <%= current_user.email %></h3>
        </div>
        <form action=<%= sessions_url %> method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden"
                 name="authenticity_token"
                 value=<%= form_authenticity_token %>>
          <input type="submit" value="logout">
        </form>
      <% else %>
        </div>      
        <div class="session-links">
          <a href=<%=new_user_url%>>    (☞ﾟヮﾟ)☞ Sign up ☜(ﾟヮﾟ☜)</a>
          <a href=<%=new_sessions_url%>>(☞ﾟヮﾟ)☞ Sign in ☜(ﾟヮﾟ☜)</a>
        </div>
      <% end %>
    </header>
    <%= yield %>

    <%= flash[:errors] %>
  </body>
</html>
