<form action="<%= user_sub_url(@sub) %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="sub[moderator_id]" value="<%= @current_user.id %>">
    <label>Title
        <input type="text" name="sub[title]" value="<%= @sub.title %>">
    </label>
    <label>Description
        <input type="text" name="sub[description]" value="<%= @sub.description %>">
    </label>
    <button type="submit">Update Sub</button>
    
</form>